body {
    color: aliceblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #0F100F;
}

header {
    text-align: center;
    font-size: 1.6rem;
    color: yellowgreen;
}

header > h2 {
    text-align: center;
    font-size: 0.7em;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 60ch;
    margin: 0 auto;
    text-align: left;
    padding-inline: 50px;
}

section {
    align-self: flex-start;
}

.list {
    display: flex;
    justify-content: left;
    gap: 20px;
    list-style-position: outside;
    font-weight: 500;
}

.content-text {
    line-height: 30px;
}